name: OIDC Debugger

on:
  workflow_dispatch:
    inputs:
      target_environment:
        description: "The full name of the GitHub Environment to test (e.g., esbpcs-sandbox)."
        required: true
      aws_region:
        description: "The AWS Region to use for the test."
        required: true
        default: "ap-southeast-1"

permissions:
  id-token: write
  contents: read

jobs:
  debug-oidc-claims:
    name: "Debug OIDC Claims"
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.target_environment }}

    steps:
      - name: Assume Role with OIDC and Get Caller Identity
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.MANAGEMENT_CONNECTOR_ROLE_ARN }}
          aws-region: ${{ github.event.inputs.aws_region }}

      - name: Get Caller Identity
        run: |
          echo "---"
          echo "Successfully assumed role. Details:"
          aws sts get-caller-identity
          echo "---"
